# 실제 비밀값은 커밋하지 않습니다.
GAS_WEB_APP_URL=https://script.google.com/macros/s/REPLACE_ME/exec
GAS_VERIFY_TOKEN=replace_me
APIFY_API_TOKEN=replace_me
SLACK_CHANNEL_ID=C0BHD9S69JA
SLACK_BOT_TOKEN=replace_with_rotated_token
SLACK_SIGNING_SECRET=replace_me

SOURCE_SPREADSHEET_ID=10WpAQU9TAsi3hRZ3ELvcQYj7Z228ILXfF6BUGz495Ak
SOURCE_SHEET_NAME=콘텐츠 대시보드 연동
EXCLUDED_CHANNEL_CATEGORY=무상시딩
MANAGED_CHANNEL_CATEGORIES=온드미디어,위성채널

APIFY_INSTAGRAM_ACTOR_ID=replace_me
APIFY_YOUTUBE_ACTOR_ID=replace_me
APIFY_TIKTOK_ACTOR_ID=replace_me
APIFY_TWITTER_ACTOR_ID=apidojo~twitter-replies-scraper
APIFY_INSTAGRAM_INPUT_JSON={"resultsLimit":100}
APIFY_YOUTUBE_INPUT_JSON={"maxComments":100}
APIFY_TIKTOK_INPUT_JSON={"maxComments":100}
APIFY_TWITTER_INPUT_JSON={"useSearch":false}

TARGET_BATCH_SIZE=20
APIFY_POLL_INTERVAL_MS=5000
APIFY_RUN_TIMEOUT_MS=600000
DRY_RUN=true
